<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 (click)="btn.focus()">
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<button fan-flat-btn common #btn1 color="primary"  (click)="expression(btn)">primary</button>
<button fan-flat-btn mini #btn0 color="info"  (click)="expression(btn)">info</button>
<button fan-flat-btn mini #btn2 color="success"   (click)="expression(btn)">success</button>
<button fan-flat-btn mini #btn3 color="danger"  (click)="expression(btn)">12313111</button>
<button fan-flat-btn mini color="danger">danger</button>
<button fan-flat-btn mini color="warning">warning</button>
<button fan-flat-btn mini color="error">error</button>
<button fan-flat-btn mini color="accent">accent</button>
<a fan-flat-btn>1231231</a>